/*SEMESTER PROJECT - FORNEBU SCIENCE MUSEUM
  AUTHOR: TONJE HOLM (FEU OCT19)*/

/*GLOBAL STYLES*/
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  padding: 0;
  margin: 0 auto;
}
body {
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
  line-height: 1.5em;
  font-size: 1.4em;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
}
h1 {
  font-size: 2em;
  text-transform: uppercase;
}
h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
h3 {
  margin-bottom: 5px;
}
.hide {
  display: none;
}
img {
  display: block;
  width: 100%;
}
a {
  text-decoration: none;
  color: #fff;
}
a:visited {
  color: #fff;
}

li {
  list-style: none;
  text-transform: uppercase;
}
.button {
  background-color: #cc6600;
  text-align: center;
  border-radius: 15px;
  font-weight: 700;
  padding: 5px 10px;
}
.button-top {
  display: block;
  color: #000;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1em;
}
.button-top:visited {
  color: #000;
}
.button-visit {
  background-color: #cc6600;
  text-align: center;
  padding: 10px 20px;
}
.submit {
  width: 100%;
  margin-top: 1em;
  background-color: #cc6600;
  border: 2px solid #cc6600;
  color: #fff;
  text-transform: uppercase;
  border-radius: 15px;
  padding: 5px 20px;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1em;
}
/*LAYOUT STYLES*/
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 0;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding: 1%;
}
/*HEADER STYLES*/
.logo img {
  width: 60%;
  margin-left: 4em;
  padding: 5px;
}
/*NAVIGATION STYLES*/
nav {
  padding-top: 0px;
}
nav ul li {
  display: flex;
  flex-wrap: wrap;
  font-size: 1em;
  text-transform: uppercase;
  padding-top: 10px;
  border: 3px solid transparent;
}
nav li a {
  width: 200px;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  background-color: #333366;
  padding: 7px 20px 7px 20px;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
}
.current a {
  text-decoration: underline;
  background-color: #fff;
  border: 1px solid #333366;
  color: #333366;
}
/*CONTENT STYLES*/
/*HOMEPAGE*/
.hero-text p {
  text-align: center;
}
.button-hero {
  display: block;
  text-align: center;
  background-color: #cc6600;
  border-radius: 15px;
  font-size: 1.5em;
  font-weight: 700;
  padding: 7px 20px 7px 20px;
  margin: 1em;
}
.stargazer {
  display: inline;
}
.events-frontpage {
  font-size: 0.8em;
  line-height: 1.2em;
}

#homepageNews p {
  font-size: 1.5em;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
}
#homepageNews input[type="text"] {
  font-size: 1em;
  color: #000;
  background-color: lightgray;
  display: block;
  padding: 5px 15px 5px 15px;
}
#homepageNews input[type="text"]:focus {
  background-color: white;
}
span.form-info {
  font-size: 0.9em;
  display: block;
  text-align: center;
}
/*EXPLORE*/
/*EXHIBITIONS*/
/*EVENTS*/
/*GET INVOLVED*/
form fieldset {
  border: 2px solid #cc6600;
}
form legend,
label {
  font-weight: 600;
  font-size: 0.8em;
}
form input,
option,
select,
textarea,
[type="text"],
[type="name"],
[type="email"],
[type="comment"] {
  width: 100%;
  font-size: 1em;
}
form label {
  padding: 12px 12px 12px 0px;
  display: inline-block;
}
/*VISIT US*/
/*This code snippet is borrowed from https://blog.theodo.com/2018/01/responsive-iframes-css-trick/ to get the iFrame responsive, as I struggled with this myself.*/
.iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.icon {
  display: inline-block;
  width: 10%;
  padding-right: 10px;
}
/*FOOTER STYLES*/
footer {
  bottom: 0;
  background-color: #333366;
}
.logo-footer img {
  margin: 0 auto;
  padding: 10px;
  max-width: 60%;
}
address {
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-size: 0.5em;
}
address a {
  color: #fff;
}
/*FOOTER NAVIGATION*/
.nav_footer li a {
  background-color: transparent;
  font-size: 0.7em;
}
.nav-footer {
  overflow: hidden;
  bottom: 0;
  width: 80%;
}
.nav-footer ul li {
  margin: 3em 1em 1em 1em;
  font-size: 0.8em;
  text-transform: uppercase;
  padding-top: 0px;
}
.nav-footer li a {
  float: left;
  color: #fff;
  border: none;
  background-color: transparent;
  text-align: center;
  padding: 0;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
}
nav ul li a:hover {
  background-color: white;
  color: #333366;
  font-weight: bold;
}
footer .current a {
  font-weight: bold;
  text-decoration: underline;
}
/*Landscape smartphones*/
@media screen and (orientation: landscape) and (min-width: 321px) and (max-width: 369px) {
  .logo img {
    width: 30%;
    padding-left: 20px;
  }
  nav ul {
    padding-bottom: 10px;
    margin: 1em 1em;
  }
  nav ul li {
    display: block;
    font-size: 0.8em;
  }
  .nav-footer {
    padding-top: 0px;
  }
  .nav-footer ul li {
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    text-transform: uppercase;
    padding-top: 10px;
  }
  .nav-footer li a {
    width: 200px;
  }
}
/*Tablets and big smartphones styles*/
@media screen and (min-width: 370px) and (max-width: 507px) {
  .logo img {
    width: 40%;
    overflow: auto;
    margin-left: 0;
    padding: 10px;
  }
  nav ul li {
    margin-left: 1em;
    font-size: 1.2em;
  }
}
@media screen and (min-width: 508px) and (max-width: 768px) {
  img {
    max-width: 96%;
  }
  .logo img {
    width: 30%;
    overflow: auto;
    margin-left: 0;
  }
  nav ul li {
    display: inline-block;
    margin: 0 0 1em 0;
    font-size: 0.8em;
    padding: 5px;
  }
  .logo-footer img {
    max-width: 20%;
  }
  .nav-footer ul {
    margin-left: 5em;
  }
  .nav-footer ul li {
    display: inline-block;
    margin: 0 auto;
    font-size: 1em;
  }
}
/*Desktop and large tablet styles*/
@media screen and (min-width: 769px) {
  body {
    max-width: 100%;
    font-size: 1.1em;
  }
  main,
  header {
    padding: 2%;
  }
  main {
    margin-top: 4em;
  }
  .column {
    flex: 1;
  }
  .large {
    flex: 3;
  }
  .small {
    flex: 0.3;
    padding: 10px;
  }
  img {
    max-width: 100%;
  }
  a.button-top {
    display: inline-block;
    margin: 0;
  }
  a.button-top:hover {
    text-decoration: underline;
  }
  a.button {
    border: 2px solid transparent;
  }
  .button:hover {
    background-color: #fff;
    color: #cc6600;
    text-decoration: underline;
    border: 2px solid #cc6600;
  }
  .submit:hover {
    background-color: #fff;
    color: #cc6600;
    text-decoration: underline;
  }
  a.button-visit:hover {
    color: #cc6600;
    border: 2px solid #cc6600;
  }
  .spacemaker {
    width: 140px;
  }
  /*HEADER STYLES*/
  .logo img {
    width: 15%;
    overflow: auto;
    float: left;
    margin-left: 10px;
  }
  /*NAVIGATION STYLES*/
  nav ul {
    float: right;
    padding: 0;
  }
  nav ul li {
    display: inline;
    margin: 0.3em 1em 0 0;
    font-size: 0.8em;
    border: 2px solid transparent;
  }
  nav ul li a {
    border: 2px solid transparent;
  }
  nav ul li a:hover {
    background-color: #fff;
    color: #333366;
    border: 2px solid #333366;
  }
  .current a {
    text-decoration: underline;
    background-color: transparent;
    color: #333366;
  }
  /*CONTENT STYLES*/
  .hero-container {
    position: relative;
    margin-bottom: 1em;
  }
  .hero-text {
    position: absolute;
    max-width: 50%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 1.2em;
    text-align: center;
  }
  a.button-hero {
    background-color: #cc6600;
    opacity: 1;
    text-align: center;
    border-radius: 15px;
    font-size: 1.1em;
    font-weight: 700;
    padding: 10px 10px;
  }
  a.button-hero {
    border: 2px solid transparent;
  }
  a.button-hero:hover {
    text-decoration: underline;
    border: 2px solid #cc6600;
    color: #cc6600;
    background-color: #fff;
  }
  .fp {
    max-width: 400px;
  }
  form#homepagenews {
  }
  .homepage-news-container {
    position: relative;
  }
  .homepage-news-form {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255, 0.7);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
  }
  form#homepageNews p {
    text-align: center;
    font-size: 1.4em;
  }
  form#homepageNews input[type="text"] {
  }
  form#homepageNews input[type="text"]:focus {
    background-color: white;
  }
  .submit {
    display: block;
    margin: 1em 0em;
  }
  .submit:hover {
    cursor: pointer;
  }
  .submit:active {
    background-color: #fff;
    color: #cc6600;
    border: solid 2px #cc6600;
  }
  form {
    width: 50%;
    margin: 0 auto;
  }
  form legend,
  label {
    font-weight: 600;
    font-size: 0.8em;
  }
  form input,
  option,
  select,
  textarea,
  [type="text"],
  [type="name"],
  [type="email"],
  [type="comment"] {
    width: 100%;
    font-size: 1em;
  }
  form label {
    padding: 12px 12px 12px 0px;
    display: block;
  }

  form#contact-explore {
    width: 70%;
  }
  table {
    text-align: center;
  }
  .visit {
    padding: 3%;
  }
  .exhibitions div {
    padding: 20px;
  }
  /*FOOTER STYLES*/
  footer {
    display: flex;
    bottom: 0;
  }
  .logo-footer img {
    max-width: 70%;
  }
  address {
    line-height: 1em;
    font-size: 0.8em;
    text-decoration: none;
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: 10px;
  }
  address a {
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  .nav-footer ul li a:hover {
    text-decoration: underline;
    color: white;
    background-color: transparent;
    border: none;
  }
}
